html {
    font-family: "Gothic A1";
}
h1 {

    background-color: rgb(132, 209, 233);
    color: white;
    font-size: 100px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 55px;
    margin-bottom: 70px;
    padding-left: 55px;
    padding-top: 180px;
    padding-right: 585px;
    padding-bottom: 700px;
    font-weight: 1100;
    letter-spacing: -3px;
    position: absolute;
}

* {
    background-color: rgb(214, 247, 240);
}

h3 {
    margin-top: 125px;
    margin-left: 120px;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(250, 60, 60);
    color: white;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 2px;
}

div {
    display: inline-flex;
    line-height: 75px;
    border-bottom: dotted;
    border-bottom-color: white;
    background-color: rgb(132, 209, 233);
    border-bottom-width: 13px;
    
}

.black.box {
    position: absolute;
    background-color:rgba(22, 23, 49, 0.74);
    margin-left: 1010px;
    margin-top: -10px;
    padding-right: 405px;
    padding-bottom: 7000px;
    color: rgba(0, 0, 0, 0);
}

.design {
    position: absolute;
    margin-left: 945px;
    padding-top: 90px;
    padding-left: 65px;
    padding-right: 116px;
    padding-bottom: 500px;
    background-color: rgba(255, 253, 129, 0.877);
    color: rgb(22, 23, 49);
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
}

p {
    position: absolute;
    margin-top: 250px;
    margin-left: 945px;
    padding-left: 65px;
    padding-right: 110px;
    padding-bottom: 500px;
    background-color: rgba(255, 253, 125, 0);
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
}

a {
    text-decoration: none;
    background-color: rgba(247, 245, 136, 0);
    color: rgb(0, 0, 0);
    border-bottom: grey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

a:hover {
    border-bottom-color: red;
}

span {
    background-color: rgba(128, 128, 128, 0);
}
